.text-danger {
    color: #FF3434 !important;
}

.scroll_thin::-webkit-scrollbar {
    width: 4px;
}

.scroll_thin::-moz-scrollbar {
    width: 4px;
}

.scroll_thin::-o-scrollbar {
    width: 4px;
}

.scroll_thin::-ms-scrollbar {
    width: 4px;
}

.scroll_thin::-webkit-scrollbar-track {
    box-shadow: none;
}

.scroll_thin::-moz-scrollbar-track {
    box-shadow: none;
}

.scroll_thin::-o-scrollbar-track {
    box-shadow: none;
}

.scroll_thin::-ms-scrollbar-track {
    box-shadow: none;
}

.scroll_thin::-webkit-scrollbar-thumb {
    background-color: #F1F1F2;
    outline: none;
    border-radius: 30px;
}

.scroll_thin::-moz-scrollbar-thumb {
    background-color: #F1F1F2;
    outline: none;
    border-radius: 30px;
}

.scroll_thin::-o-scrollbar-thumb {
    background-color: #F1F1F2;
    outline: none;
    border-radius: 30px;
}

.scroll_thin::-ms-scrollbar-thumb {
    background-color: #F1F1F2;
    outline: none;
    border-radius: 30px;
}